@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Concert+One&display=swap");

html,
body,
.app-container {
  background-color: #8c3590;
}

body {
  font-family: arial, helvetica;
}

.app-container {
  justify-content: center;
}

#fullpage-wrapper {
  justify-content: center;
}

h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

a,
p {
  font-family: "Chau Philomene One";
}

p {
  font-size: 50px;
  color: #f6af4c;
  margin: 10px;
}

p.home-title {
  font-size: 60px;
  font-weight: bold;
}

p.title {
  font-weight: bold;
  color: #fff;
  margin: 50px;
}

p.step-title,
p.finish-title {
  font-weight: bold;
  color: #fbb44a;
  margin: 30px;
}

span.featured {
  font-weight: bold;
  color: #e35b08;
}

p.steps {
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

p.steps-details {
  font-size: 18px;
  font-weight: normal;
  color: #fbb44a;
}

p.step-link-pi {
  font-size: 40px;
  font-weight: normal;
  color: #fff;
  margin: 5px;
}

p.finish-words {
  font-size: 25px;
  font-weight: normal;
  color: #fff;
}

p.finish-words-highlights {
  font-size: 28px;
  font-weight: normal;
  color: #e35b08;
}

p.finish-footer {
  margin: 40px;
  font-size: 23px;
  font-weight: normal;
  color: #fff;
}

a.telegram-link {
  color: #fbb44a;
  font-size: 40px;
  text-decoration: none;
  line-height: 100px;
}

p.footer {
  font-size: 25px;
  font-weight: bold;
  color: #fbb44a;
  margin: 80px;
}

a.app-link {
  color: #fbb44a;
  font-size: 50px;
  text-decoration: none;
}

span.crypllo-code {
  font-size: 30px;
  color: #e35b08;
}

img.pi-logo {
  width: 40px;
  align-self: center;
}

.section {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.button-wrapper {
  margin: 40px;
}

a.button {
  background-color: #fbb44a;
  color: #e35b08;
  font-size: 25px;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 32px;
}

a.button:hover {
  background-color: #e35b08;
  color: #fbb44a;
}

a.button:active {
  background-color: #e35b08;
  color: #49433f;
}

div.to-section:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  p.steps {
    font-size: 15px;
  }

  p.footer {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin: 30px;
  }

  p,
  p.finish-words {
    font-size: 20px;
  }

  p.title {
    font-size: 25px;
  }

  p.step-title {
    margin: 50px;
  }

  p.step-title,
  p.finish-title,
  a.telegram-link {
    font-size: 30px;
  }

  p.home-title {
    font-size: 40px;
  }

  p.finish-words-highlights {
    font-size: 25px;
    font-weight: normal;
    color: #e35b08;
  }

  div.button-wrapper {
    margin: 80px;
  }

  a.button {
    background-color: #fbb44a;
    color: #e35b08;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 22px;
  }
}

.fp-section {
  text-align: center;
}

#fp-nav ul,
.fp-slidesNav ul {
  justify-content: center;
  align-items: center;
}

#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
  background-color: #e35b08 !important;
  width: 13px !important;
  height: 13px !important;
}

/* #fp-nav ul li a,
.fp-slidesNav ul li a {
  color: #fbb44a !important;
  width: 10px !important;
  height: 10px !important;
} */
